html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-en
}

body {
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: 
    -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

.wrapper {
    height: 100%;
    background-color: #1e1e1e;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 1fr 1fr 4rem;
    grid-template-areas: 
        "menu text secondary-menu"
        "menu options secondary-menu"
        "footer footer footer"
    ;
}

.menu-container {
    padding: 0 2rem;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    grid-area: menu;
}

.menu {
    width: 10rem;
}


.text {
    text-align: center;
    grid-area: text;
}

.text p {
    color: white;
}

.text > * {
    align-self: flex-end;
} 

.options {
    grid-area: options;
}

.options > * {
    align-self: flex-start;
} 

.secondary-menu-container {
    padding: 0 2rem;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    grid-area: secondary-menu;
}

.secondary-menu {
    width: 10rem;
}

.footer {
    height: 4rem;
    align-items: center;
    bottom: 0;
    color: white;
    border-top: 1px solid white;
    grid-area: footer;
}

.footer p {
    margin-left: 2rem;
    font-size: 1rem;
}


/* REUSABLE CLASSES */ 

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

/* Buttons */

.button {
    flex: none;
    padding: 0.7rem;
    margin: 0.2rem;
    width: 10rem;
    max-width: inherit;
    text-align: center;
    font-size: 0.9rem;
    border: 0.1rem solid #1e1e1e;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.active {
    background-color: #ffffff;
}

.inactive {
    background-color: #ebebeb;
}