/* Tablet and mobile styling */
/* max-width: 768 px */

/* WRAPPER */

.wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.7fr 0.7fr 1fr 3rem;
    grid-template-areas: 
        "menu secondary-menu"
        "text text"
        "options options"
        ". ."
        "footer footer"
    ;
}

/* MENU */
.menu-container {
    padding: 0.5rem 0.25rem 0.25rem 0.5rem;
}
.menu {
    align-items: flex-start;
    width: 100%;
}

/* SECONDARY MENU */

.secondary-menu-container {
    padding: 0.5rem 0.5rem 0.25rem 0.25rem;
}
.secondary-menu {
    align-items: flex-end;
    width: 100%;
}

/* OPTION */

.options {
    width: 100%;
    padding: 0 6%;
}

/* BUTTONS */

.button {
    margin: 0.1rem;
}
